.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media (min-width: 600px) {
    .form-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  mat-form-field {
    width: 80%;
  }

  mat-dialog-content {
    width: 100%;
    max-width: 600px;
  }