mat-toolbar{
    position: relative;
    z-index: 5;
    justify-content: space-between;
    background-color: darkblue ;

}
mat-icon {
    color: white;
}
.content {
    padding: 24px;
    margin: 0 auto;
}

.footer {
    max-width: 1600px; /* Asegura que la tabla no se estire demasiado */
    margin: 0 auto; /* Centra el contenido */
    display: flex;
    justify-content: center;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
    max-width: auto; /* Asegura que la tabla no se estire demasiado */
}


mat-sidenav, mat-sidenava-content {
    transition: all 500ms ease-in-out;
    background-color: white;
}

.logout {
    color: #005cbb;
    margin-left: 8px;
}