mat-toolbar{
    position: relative;
    z-index: 5;
    justify-content: space-between;
    background-color: darkblue ;

}
mat-icon {
    color: white;
}
.content {
    padding: 24px;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}


mat-sidenav, mat-sidenava-content {
    transition: all 500ms ease-in-out;
    background-color: white;
}

.logout {
    color: #005cbb;
    margin-left: 8px;
}