<div class="container">
  <div class="header">
    <h2>Trabajadores</h2>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <app-ui-table [columns]="tableColumns" [data]="trabajadores" *ngIf="!loading"></app-ui-table>
  <ng-template #colActions let-trabajadores>
    <button mat-icon-button matTooltip="Editar" class="boton">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Eliminar" class="boton">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
