<div class="container">
  <div class="header">
    <h2>Trabajadores</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="form-container" [formGroup]="formGroupFilter">
    <mat-form-field>
      <mat-label>Rut</mat-label>
      <input matInput formControlName="rut" />
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="onSearch()">
        Buscar
      </button>
      <button mat-raised-button color="primary" (click)="clean()">
        Limpiar
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <app-ui-table
    [columns]="tableColumns"
    [data]="trabajadores"
    *ngIf="!loading"
    (select)="onSelect($event)"
  ></app-ui-table>
  <ng-template #colActions let-trabajadores>
    <button
      mat-icon-button
      matTooltip="Editar"
      class="boton"
      (click)="onEditTrabajador(trabajadores, template1)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Eliminar"
      class="boton"
      (click)="onDeleteTrabajador(trabajadores)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ng-template #template1>
    <h2 mat-dialog-title>Editar Trabajador</h2>
    <div mat-dialog-content>
      <form [formGroup]="formGroup" class="form">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
          <mat-hint
            *ngIf="
              formGroup.get('nombre')?.hasError('required') &&
              formGroup.get('nombre')?.touched
            "
            >Nombre olbigatorio</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" />
          <mat-hint
            *ngIf="
              formGroup.get('apellido')?.hasError('required') &&
              formGroup.get('apellido')?.touched
            "
            >Apellido olbigatorio</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>RUT</mat-label>
          <input matInput formControlName="rut" />
          <mat-hint
            *ngIf="
              formGroup.get('rut')?.hasError('required') &&
              formGroup.get('rut')?.touched
            "
          >
            Rut obligatorio.
          </mat-hint>
          <mat-hint
            *ngIf="
              formGroup.get('rut')?.hasError('pattern') &&
              formGroup.get('rut')?.touched
            "
          >
            El formato debe ser 12345678-9.
          </mat-hint>
          <mat-hint
            *ngIf="
              formGroup.get('rut')?.hasError('invalidRut') &&
              formGroup.get('rut')?.touched
            "
          >
            Rut invalido.
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="pickerNacimiento"
            formControlName="fechaNacimiento"
          />
          <mat-hint
            *ngIf="
              formGroup.get('fechaNacimiento')?.hasError('required') &&
              formGroup.get('fechaNacimiento')?.touched
            "
            >Fecha obligatoria</mat-hint
          >
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerNacimiento"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerNacimiento></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" />
          <mat-hint
            *ngIf="
              formGroup.get('direccion')?.hasError('required') &&
              formGroup.get('direccion')?.touched
            "
            >direcciión obligatoria</mat-hint
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha Contratación</mat-label>
          <input
            matInput
            [matDatepicker]="pickerContratacion"
            formControlName="fechaContratacion"
          />
          <mat-hint
            *ngIf="
              formGroup.get('fechaContratacion')?.hasError('required') &&
              formGroup.get('fechaContratacion')?.touched
            "
            >Fecha contratación obligatoria</mat-hint
          >
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerContratacion"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerContratacion></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label class="label">Cargo:</mat-label>
          <mat-select formControlName="cargos">
            @for (cargo of cargos; track cargo) {
            <mat-option [value]="cargo.value">{{ cargo.viewValue }}</mat-option>
            }
          </mat-select>
          <mat-hint
            *ngIf="
              formGroup.get('cargos')?.hasError('required') &&
              formGroup.get('cargos')?.touched
            "
            >Cargo obligatorio</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" type="tel" />
          <mat-hint
            *ngIf="
              formGroup.get('telefono')?.hasError('required') &&
              formGroup.get('telefono')?.touched
            "
            >Telefono obligatorio</mat-hint
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-hint
            *ngIf="
              formGroup.get('email')?.hasError('required') &&
              formGroup.get('email')?.touched
            "
            >Correo obligatorio</mat-hint
          >
        </mat-form-field>
      </form>

      <div class="button">
        <button mat-raised-button mat-dialog-close color="primary">
          Cerrar
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid"
          (click)="onSaveWorker()"
        >
          Guardar
        </button>
      </div>
    </div>
  </ng-template>
</div>
