.container {
    max-width: 1600px; /* Asegura que la tabla no se estire demasiado */
    margin: 0 auto; /* Centra el contenido */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px; /* Espaciado alrededor del encabezado */
  }

  mat-divider {
    margin-bottom: 50px;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .form-container {
    display: flex;
    align-items: end;
    gap: 40px; /* Controla el espacio entre los elementos */
    justify-content: center;
  }

  mat-form-field {
    max-width: 200px; /* Ajusta el ancho según tus necesidades */
  }

  button {
    margin-left: 16px; /* Espaciado adicional opcional */
    margin-bottom: 25px;
  }
  

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 16px; /* Espaciado entre los elementos */
    width: 100%;
  }
  .button {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espaciado entre los botones */
    margin-top: 16px; /* Espaciado superior para separar los botones del formulario */
  }
  
  mat-hint {
    color: red;
  }