<div class="container">
  <div class="header">
    <h2>Registro</h2>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <div class="worker-details">
      <div class="detail-item">
        <label class="label">Nombre:</label>
        <span class="detail">{{ trabajador?.primerNombre }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Apellido:</label>
        <span class="detail">{{ trabajador?.primerApellido }}</span>
      </div>
      <div class="detail-item">
        <label class="label">RUT:</label>
        <span class="detail">{{ trabajador?.run }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Fecha de Nacimiento:</label>
        <span class="detail">{{
          trabajador?.fechaNacimiento | date : "dd/MM/yyyy"
        }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Dirección:</label>
        <span class="detail">{{ trabajador?.direccion }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Fecha de Contratación:</label>
        <span class="detail">{{
          trabajador?.fechaContratacion | date : "dd/MM/yyyy"
        }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Teléfono:</label>
        <span class="detail">{{ trabajador?.telefono }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Email:</label>
        <span class="detail">{{ trabajador?.email }}</span>
      </div>
      <div class="detail-item">
        <label class="label">Cargo:</label>
        <span class="detail">{{ trabajador?.cargos?.nombre }}</span>
      </div>
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="limpiar()">Limpiar Datos</button>
      </div>
    </div>

    <div class="scan-section">
      <div class="scan-content">
        <button mat-raised-button color="primary" (click)="onScanWorker()">
          Escanear Trabajador
        </button>
        <app-webcam [trigger]="trigger" (capture)="onCapture($event)"></app-webcam>   
        <label class="label">¿El trabajador no existe?</label>
        <button
          mat-raised-button
          color="primary"
          class="modal"
          (click)="openDialogWithTemplate(template1)"
        >
          Agregar Trabajador
        </button>
      </div>
    </div>
  </div>

  <!-- modal -->
  <ng-template #template1>
    <h2 mat-dialog-title>Crear Trabajador</h2>
    <div mat-dialog-content>
      <form [formGroup]="formGroup" class="form">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
          <mat-hint *ngIf="formGroup.get('nombre')?.hasError('required') && formGroup.get('nombre')?.touched">Nombre olbigatorio</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" />
          <mat-hint *ngIf="formGroup.get('apellido')?.hasError('required') && formGroup.get('apellido')?.touched">Apellido olbigatorio</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>RUT</mat-label>
          <input matInput formControlName="rut"/>
          <mat-hint *ngIf="formGroup.get('rut')?.hasError('required') && formGroup.get('rut')?.touched">
            Rut obligatorio.
          </mat-hint>
          <mat-hint *ngIf="formGroup.get('rut')?.hasError('pattern') && formGroup.get('rut')?.touched">
            El formato debe ser 12345678-9.
          </mat-hint>
          <mat-hint *ngIf="formGroup.get('rut')?.hasError('invalidRut') && formGroup.get('rut')?.touched">
            Rut invalido.
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="pickerNacimiento"
            formControlName="fechaNacimiento"
          />
          <mat-hint *ngIf="formGroup.get('fechaNacimiento')?.hasError('required') && formGroup.get('fechaNacimiento')?.touched">Fecha obligatoria</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerNacimiento"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerNacimiento></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" />
          <mat-hint *ngIf="formGroup.get('direccion')?.hasError('required') && formGroup.get('direccion')?.touched">direcciión obligatoria</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha Contratación</mat-label>
          <input
            matInput
            [matDatepicker]="pickerContratacion"
            formControlName="fechaContratacion"
          />
          <mat-hint *ngIf="formGroup.get('fechaContratacion')?.hasError('required') && formGroup.get('fechaContratacion')?.touched">Fecha contratación obligatoria</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerContratacion"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerContratacion></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label class="label">Cargo:</mat-label>
          <mat-select formControlName="cargos">
            @for (cargo of cargos; track cargo) {
            <mat-option [value]="cargo.value">{{ cargo.viewValue }}</mat-option>
            }
          </mat-select>
          <mat-hint *ngIf="formGroup.get('cargos')?.hasError('required') && formGroup.get('cargos')?.touched">Cargo obligatorio</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" type="tel" />
          <mat-hint *ngIf="formGroup.get('telefono')?.hasError('required') && formGroup.get('telefono')?.touched">Telefono obligatorio</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-hint *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">Correo obligatorio</mat-hint>
        </mat-form-field>
      </form>

      <div class="button">
        <button mat-raised-button mat-dialog-close color="primary">
          Cerrar
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSave()"
          [disabled]="formGroup.invalid"
        >
          Guardar
        </button>
      </div>
    </div>
  </ng-template>
</div>
