.custom-class {
    color: black;
    text-align: right;
    align-items: end;
    font-size: larger;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .custom-class {
        text-align: center;
    }
}