<div class="container">
    <div class="header">
      <h2 class="text-3xl font-bold">Verificación</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
          </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select>
          @for(estado of estados; track estado) {
            <mat-option [value]="estado.value">{{ estado.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Buscar</button>
    </div>
    <app-ui-table [data]="verificacion" [columns]="tableColumns"/>
  </div>
