<div class="container">
  <div class="header">
    <h2>Gestión</h2>
    <button
      mat-raised-button
      color="primary"
      (click)="onCreateFaena(template1)"
    >
      Crear Faena
    </button>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <app-ui-table
    *ngIf="!loading"
    [data]="faenas"
    [columns]="tableColumns"
  ></app-ui-table>

  <ng-template #colActions let-faena>
    <button
      mat-icon-button
      matTooltip="Trabajadores"
      (click)="trabajadores(faena)"
      class="boton"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onEditFaenas(faena, template1)"
      matTooltip="Editar"
      class="boton"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Eliminar"
      (click)="onDeleteFaena(faena)"
      class="boton"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ng-template #template1>
    <h2 mat-dialog-title>{{ titleEditAndCreateDialog }}</h2>
    <div mat-dialog-content>
      <form [formGroup]="formGroup" class="form">
        <mat-form-field>
          <mat-label>Nombre Faena</mat-label>
          <input matInput formControlName="nombreFaena" />
          <mat-hint *ngIf="formGroup.get('nombreFaena')?.hasError('required') && formGroup.get('nombreFaena')?.touched">Nombre olbigatorio</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Inicio</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInicio"
            formControlName="fechaInicio"
          />
          <mat-hint *ngIf="formGroup.get('fechaInicio')?.hasError('required') && formGroup.get('fechaInicio')?.touched">Fecha de inicio olbigatoria</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerInicio"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Término</mat-label>
          <input
            matInput
            [matDatepicker]="pickerTermino"
            formControlName="fechaTermino"
          />
          <mat-hint *ngIf="formGroup.get('fechaTermino')?.hasError('required') && formGroup.get('fechaTermino')?.touched">Fecha de termino olbigatoria</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerTermino"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerTermino></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Encargado</mat-label>
          <input matInput formControlName="encargado" />
          <mat-hint *ngIf="formGroup.get('encargado')?.hasError('required') && formGroup.get('encargado')?.touched">Encargado olbigatorio</mat-hint>
        </mat-form-field>
      </form>
      <div class="button">
        <button mat-raised-button mat-dialog-close color="primary">
          Cerrar
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSave()"
          [disabled]="formGroup.invalid"
        >
          Guardar
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #workers class="template">
    <h2 mat-dialog-title>Trabajadores</h2>
    <app-ui-table
      [columns]="tableWorker"
      [data]="workerList"
      class="tablaTrabajadores"
    >
    </app-ui-table>
  </ng-template>
</div>
