<div class="container">
    <img
      src="img/3d-background-with-white-cubes.jpg"
      alt="Fondo"
      class="background-image"
    />
    <h1 class="title">
      Gestión Integral de Faenas
    </h1>
    <img
      src="img/img9 (1).png"
      alt="Imagen de Login"
      class="login-image"
    />
    <button mat-raised-button color="primary" (click)="loginPopup()">
      <mat-icon>login</mat-icon>
      Iniciar Sesión
    </button>
    <p>
      Developed by Leonel Aranda - Cristian Vernal 
    </p>
  </div>
  