<div class="container">
  <div class="header">
    <h2>Asistencia</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="form-container" [formGroup]="formGroupFilter">
    <mat-form-field>
      <mat-label>Rut</mat-label>
      <input matInput formControlName="rut" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="cargo">
        @for(tipoCargo of tipoCargos; track tipoCargo) {
        <mat-option [value]="tipoCargo.value">{{
          tipoCargo.viewValue
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary">
        Buscar
      </button>
      <button mat-raised-button color="primary" (click)="clean()">
        Limpiar
      </button>
    </div>
  </div>
  <app-ui-table [data]="verificacion" [columns]="tableColumns"/>
  </div>