.container {
  max-width: 1600px; /* Asegura que la tabla no se estire demasiado */
  margin: 0 auto; /* Centra el contenido */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  }

  .form-container {
    display: flex;
    align-items: end;
    gap: 40px; /* Controla el espacio entre los elementos */
    justify-content: center;
  }
  mat-form-field {
    max-width: 200px; /* Ajusta el ancho según tus necesidades */
  }

  button {
    margin-left: 16px; /* Espaciado adicional opcional */
    margin-bottom: 25px;
  }

  mat-divider {
    margin-bottom: 24px;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }