.container {
    max-width: 1600px; /* Asegura que la tabla no se estire demasiado */
    margin: 0 auto; /* Centra el contenido */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px; /* Espaciado alrededor del encabezado */
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  mat-divider {
    margin-bottom: 50px;
  }

  .form-container {
    display: flex;
    align-items: end;
    gap: 40px; /* Controla el espacio entre los elementos */
    justify-content: center;
  }

  button {
    margin-left: 16px; /* Espaciado adicional opcional */
    margin-bottom: 25px;
  }

  .main {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Alinea el texto en el centro */
    gap: 16px; /* Espaciado uniforme entre los elementos */
    padding: 16px; /* Espacio alrededor de los elementos */
  }
  
  .picture-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
  }

  .title {
    text-align: center;
  }
  
  .picture {
    max-width: 90%; /* Ajusta el tamaño máximo de la imagen */
    width: 90%; /* Asegura que la imagen no supere el contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para diseño */
    margin-top: 20px;
  }
  
  .picture-button {
    width: auto; /* Ajusta el tamaño del botón automáticamente */
    align-self: center;
    margin-top: 20px;
    align-items: center;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 16px; /* Espaciado entre los elementos */
    width: 100%;
  }
  .button {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espaciado entre los botones */
    margin-top: 16px; /* Espaciado superior para separar los botones del formulario */
  }

  mat-hint {
    color: red;
  }
